<!DOCTYPE html>
<html>

<head>
    <title>Back</title>
</head>

<body>
    <h1>Este es el body</h1>
    <form action="/api/getimages" method="POST" id="file" enctype="multipart/form-data">
        <input type="file" name="file">
        <label for="file"> elige archivo</label>
        <input type="submit" value="go">

    </form>


</body>

</html>